a:hover {
  text-decoration: underline;
}

main {
  margin: 0 auto;
  padding: 1em;
  max-width: 768px;
}

dl, dt, dd {
  border: 0;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.prompt {
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
}
