<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>RSVP Form Closed</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/global.css">
  </head>
  <body>
    <main>
      <h1>The RSVP Form is Closed</h1>
      {% if wedding %}
        <p>We can't wait to see you soon at our wedding! If you need to change
          your RSVP due to extraordinary circumstances, please let us know by
          <a href="mailto:ktchen14@gmail.com,melanieplageman@gmail.com?subject=Change RSVP">sending us an email</a>.
        </p>
      {% else %}
        <p>Thanks for responding. We'll miss you at our wedding!</p>
      {% endif %}
    </main>
  </body>
</html>
